footer {
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-bottom: 15px;
  
    p {
      color: #97a2b4;
      font-weight: 600;
      font-size: 14px;
    }
  
    .footer-button {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }